# Format Style Options - Created with Clang Power Tools
---
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: true
AllowAllConstructorInitializersOnNextLine: true
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: MultiLine
BreakBeforeBinaryOperators: None
BreakBeforeInheritanceComma: false
BreakInheritanceList: BeforeColon
BreakBeforeConceptDeclarations: true
BreakConstructorInitializers: BeforeColon
ColumnLimit: 95
ConstructorInitializerIndentWidth : 4
ContinuationIndentWidth: 4
IndentWidth: 5
Standard: c++20
...
