# Format Style Options - Created with Clang Power Tools
---
BreakBeforeInheritanceComma: false
BreakBeforeConceptDeclarations: true
BreakConstructorInitializers: BeforeColon
ColumnLimit: 95
ConstructorInitializerIndentWidth : 4
ContinuationIndentWidth: 4
IndentWidth: 5
Standard: c++20
...
